<div class="tab-content">
  <% @intake_steps[@progress_step_name].each do |k, v| %>
    <div role="tabpanel" class="tab-pane <% if k == @step %>in active<% end %>" id="<%= "#{v}".parameterize.underscore %>"><%= v %>
    </div>
  <% end %>
</div>

<!-- <script>
  $(document).ready(function () {
    url =
    $.ajax({
      type: "GET",
      url: url,
      dataType: 'script',
      data: {
        "relation_benefits": relation_benefits,
        "location_id": location_id
      }
    }).done(function() {
    });
  });
</script> -->
