<ul class="nav nav-pills nav-justified">
  <% @intake_steps.each_with_index do |(key, value), index| %>
    <li role="presentation" class="<% if @progress_step == "#{index}" %>active<% end %>"><%= link_to "#{key}", wizard_employers_employer_profiles_path(progress_step: index, step: 1) %></li>
  <% end %>
</ul>
