<div class="module wizard">
  <div class="intake-progress">
    <ul class="nav nav-pills nav-justified">
      <% @intake_steps.each_with_index do |(key), index| %>
        <% index = index + 1 %>
        <li role="presentation" class="<% if index == @progress_step %>active<% end %>">
          <%= link_to "<span class='step-number'>#{index}&nbsp;</span>".html_safe+"<span class='step-text'>#{key}</span>".html_safe, wizard_broker_agencies_profiles_path(id: BrokerAgencyProfile.first.id, progress_step_name: key, progress_step: index, step: 1) %>
          <% if index == @progress_step %><i class="fa fa-caret-down fa-lg"></i><% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>