<div class="module wizard">
  <div class="step-pager">
    <nav>
      <ul class="pager">
        <li class="back">
          <%= link_to "#", class: 'btn btn-trans prev' do %>
            <span aria-hidden="true">&larr;</span> Back
          <% end %>
        </li>
        <li class="skip">
          <%= link_to "#", class: 'btn btn-trans skip' do %>
            Next <span aria-hidden="true">&rarr;</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>