<ul class="nav nav-pills nav-stacked nav-tabs" role="tablist">
  <% @intake_steps[EmployerProfile::INTAKE_PROGRESS_STEP.keys[@progress_step.to_i]].each_with_index do |(key, value), index| %>
    <% index = index + 1 %>
    <li role="presentation" class="<% if @step == "#{index}" %>active<% end %>"><%= link_to "#{value}", "#"+"#{value}".parameterize.underscore, aria_controls: "home", role: "tab", data: {toggle: "tab"} %></li>
  <% end %>
</ul>
