<div class="row row-form-wrapper no-buffer">
  <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
    <% plan_year_start_dates = PlanYear.calculate_start_on_options %>
    <% if f.object.start_on.present? && !plan_year_start_dates.any?{|set| set[1] == f.object.start_on.try(:to_s, :db) } %>
      <% plan_year_start_dates << [f.object.start_on.strftime("%B %Y"), f.object.start_on.try(:to_s, :db)]%>
    <% end %>
    <%= f.select(:start_on, options_for_select(plan_year_start_dates, selected: f.object.start_on.try(:to_s, :db)), {:include_blank => "SELECT START ON"}, { :class => ''}) %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
    <%= datepicker_control(f, :end_on, {:class => "floatlabel form-control interaction-field-control-plan_year-start_on", :required => true, :placeholder => "END ON", readonly: true}) %>
  </div>
</div>
