<div class="row no-buffer row-form-wrapper">
  <div class="form-group-lg no-pd">
    <%= f.hidden_field :kind %>
    <%= f.email_field :address, placeholder: "Email Address", class: "floatlabel form-control" %>
  </div>
</div>
