<div class="row row-form-wrapper no-buffer">
  <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
    <%= datepicker_control(f, :open_enrollment_start_on, {:class => "floatlabel form-control interaction-field-control-plan_year-open_enrollment_start_on", :required => true, :placeholder => "OPEN ENROLLMENT START DATE"}) %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
    <%= datepicker_control(f, :open_enrollment_end_on, {:class => "floatlabel form-control interaction-field-control-plan_year-open_enrollment_end_on", :required => true, :placeholder => "OPEN ENROLLMENT END DATE"}) %>
  </div>
</div>
