<h3>Benefit Package Information</h3>
<div class="row row-form-wrapper no-buffer plan-title">
  <div class="col-xs-12 form-group form-group-lg">
    <!-- Offset :  -->
    <label class="title">NAME YOUR BENEFIT PACKAGE</label>
    <% title_value = f.object.title.present? ? f.object.title : "#{TimeKeeper.date_of_record.year} Employer Benefits" %>
    <%= f.text_field :title, class: "form-control", style: "font-weight: normal !important;", required: true %>
  </div>
</div>
<div class="row row-form-wrapper no-buffer plan-title">
  <div class="col-xs-12 form-group form-group-lg">
    <!-- Offset :  -->
    <label class="title">DESCRIPTION OF YOUR BENEFIT PACKAGE</label>
    <% title_value = f.object.title.present? ? f.object.title : "#{TimeKeeper.date_of_record.year} Employer Benefits" %>
    <%= f.text_field :title, class: "form-control", style: "font-weight: normal !important; height: 120px;", required: true %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
$(document).on('ready', function() {

  $('.floatlabel').floatlabel({
      slideInput: false
  });
});
</script>
