<div class="row row-form-wrapper no-buffer">
  <%= f.select(:effective_on_offset, options_for_select([["First of the month following or coinciding with date of hire", 0], ["First of the month following 30 days", 30], ["First of the month following 60 days", 60]], selected: f.object.effective_on_offset), { :class => ''}) %>
</div>
